[submodule "assets/javascripts/module"]
        path = assets/javascripts/module
        url = git@github.com:miiicasa/module.git
[submodule "lib/mini"]
	path = lib/mini
	url = git://github.com/josephj/mini.git
[submodule "assets/javascripts/yui3"]
	path = assets/javascripts/yui3
	url = git://github.com/yui/yui3.git
[submodule "lib/minify"]
	path = lib/minify
	url = git://github.com/josephj/minify.git
