[submodule "assets/javascripts/module"]
        path = assets/javascripts/module
        url = git://github.com/josephj/github-chinese-developer.git
[submodule "mini"]
	path = mini
	url = https://github.com/josephj/mini
