[submodule "assets/javascripts/module"]
        path = assets/javascripts/module
        url = git://github.com/josephj/github-chinese-developer.git
[submodule "lib/mini"]
        path = lib/mini
        url = https://github.com/josephj/minify
