/* line 1, ../sass/_list.scss */
#list {
    padding: 10px 0 0 10px;
    margin-left: 300px;
    overflow: auto;
    height: 500px;
}
/* line 6, ../sass/_list.scss */
#list .bd ul {
    zoom: 1;
}
/* line 8, ../sass/_list.scss */
#list .bd ul:after {
    content: "";
    clear: both;
    display: block;
}
/* line 14, ../sass/_list.scss */
#list li {
    float: left;
    width: 140px;
    height: 160px;
    margin: 0 10px 10px 0;
    overflow: hidden;
}
/* line 21, ../sass/_list.scss */
#list.loading {
    background: url(../images/loading.gif) center center no-repeat;
}
/* line 25, ../sass/_list.scss */
#list li .user-card img {
    vertical-align: bottom;
}
/* line 28, ../sass/_list.scss */
#list li .user-card .main {
    position: relative;
}
/* line 31, ../sass/_list.scss */
#list li .user-card .name {
    padding: 3px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
/* line 37, ../sass/_list.scss */
#list li .user-card .name .name-link {
    background: url(../images/bg_name.png) 0 100% repeat-x;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    padding: 20px 5px 0;
    margin: 0 5px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* line 51, ../sass/_list.scss */
#list li .user-card .img-link {
    display: block;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
/* line 57, ../sass/_list.scss */
#list li .user-card .info {
    font-size: 10px;
}
/* line 60, ../sass/_list.scss */
#list li .user-card .main {
    width: 120px;
    height: 120px;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 5px;
    overflow: hidden;
}
